.md-header {
  background-color: #7a2aa4;
}

.md-header__right {
  display: flex;
  margin-left: auto;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 1.8rem;
  width: auto;
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: #7a2aa4;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #8a95ff;
}
